<div class="song-home">
  <div class="recorder">
    <div class="center">  
      <header>
        <h3 class="song-name">hit record and start making music.</h3>
       </header>  
      <a id="record-button" class="record-button"></a>
    </div>
  </div>
</div>
