<div class="song-home">
  <div class="recorder">
    <div class="center">  
      <header>
        <h3 class="song-name">get out of your garage.</h3>
        <h3 class="song-name">come play in the cove.</h3>
      </header>

      <div id="controls">
        <a id="record-button" class="record-button"></a>
      </div>       
    </div>
  </div>
  <div id="intro">
    <div class="center">
      <ul>
        <li class="standard">record.</li>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="60px" height="100px" viewBox="0 0 60 100" enable-background="new 0 0 60 100" xml:space="preserve">
          <path fill="#853EAD" d="M52,38v14c0,9.757-8.242,18-18,18l0,0h-8c-9.757,0-18-8.243-18-18V38H0v14c0,14.094,11.906,26,26,26v14H9v8
          h42v-8H34V78l0,0c14.094,0,26-11.906,26-26V38H52z"/>
          <path fill="#853EAD" d="M26,64h8c5.714,0,10.788-4.482,11.805-10H33.917v-4H46v-4H33.917v-4H46v-4H33.917v-4H46v-4H33.917v-4H46v-4
          H33.917v-4H46v-4H33.917v-4h11.888C44.788,4.483,39.714,0,34,0h-8c-6.393,0-12,5.607-12,12v40C14,58.393,19.607,64,26,64z"/>
          </svg>
        <li class="standard">listen.</li>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="100px" height="96.087px" viewBox="0 0 100 96.087" enable-background="new 0 0 100 96.087" xml:space="preserve">
          <path fill="#853EAD" d="M93.585,52.907c-2.23-2.558-4.885-4.605-7.821-6.102c2.266-9.174,2.095-21.13-4.439-30.597
          c0.742-2.032,0.285-4.396-1.369-5.997C72.955,3.436,62.633,0,50,0l0,0C37.368,0,27.045,3.436,20.045,10.212
          c-1.655,1.602-2.111,3.965-1.37,5.998c-6.533,9.466-6.702,21.422-4.438,30.597c-2.936,1.495-5.591,3.543-7.821,6.104
          c-4.573,5.246-6.831,11.959-6.354,18.902c0.931,13.61,12.341,24.275,25.97,24.275c0.598,0,1.197-0.022,1.802-0.062
          c0.896-0.062,1.732-0.477,2.324-1.157c0.589-0.674,0.887-1.56,0.825-2.457l-3.097-45.227c-0.129-1.867-1.758-3.265-3.612-3.15
          c-1.225,0.084-2.422,0.281-3.604,0.527c-1.676-7.422-1.526-17.253,3.695-24.684c1.28-0.09,2.537-0.588,3.532-1.551
          C32.72,13.661,40.4,11.295,50,11.295l0,0c9.6,0,17.279,2.365,22.102,7.032c0.993,0.962,2.252,1.462,3.53,1.552
          c5.223,7.429,5.372,17.262,3.696,24.683c-1.18-0.247-2.378-0.443-3.604-0.527c-1.853-0.117-3.482,1.282-3.611,3.15l-3.098,45.227
          c-0.062,0.897,0.235,1.782,0.825,2.457c0.592,0.681,1.428,1.095,2.323,1.157c0.604,0.039,1.205,0.062,1.802,0.062
          c13.63,0,25.04-10.663,25.971-24.275C100.417,64.869,98.159,58.154,93.585,52.907z"/>
          <g>
          <path fill="#853EAD" d="M33.494,46.236c-1.866,0.128-3.276,1.746-3.149,3.612l2.797,40.825c0.122,1.79,1.611,3.159,3.375,3.159
          c0.08,0,0.157-0.004,0.237-0.009c1.866-0.128,3.275-1.745,3.148-3.614l-2.796-40.824C36.979,47.517,35.352,46.124,33.494,46.236z"
          />
          </g>
          <g>
          <path fill="#853EAD" d="M66.504,46.236c-1.833-0.115-3.485,1.282-3.611,3.149l-2.797,40.824c-0.128,1.869,1.281,3.486,3.147,3.615
          c0.08,0.005,0.158,0.009,0.238,0.009c1.764,0,3.252-1.37,3.374-3.158l2.797-40.826C69.782,47.98,68.37,46.363,66.504,46.236z"/>
          </g>
          </svg>
        <li class="standard">collaborate.</li>
                
      </ul>
   </div>
    <div class="paragraph-container">
      
    </div>
  </div>
  <div id="about">
    <header>
      <h1 class="right">history</h1>
    </header>
    <div class="paragraph-container">
      <p class="standard right">
        beatcove was created by Britt, Mihran, and Tea as a showcase project during General Assembly's Web Development Immersive.    
      </p>
      <p class="standard right">
        We explore the possibilities of browser-based audio recording and playback functionalities using HTML5 through Web Audio API. If you want to contribute, visit our github.
      </p>
    </div>
  </div>
</div>
