<div class="song-home">
  <div class="recorder">
      <div class="center">  
       <header>
         <h3 class="song-name">Song Name</h3>
       </header>  
      <div class="record-button"></div>
      <div class="play-button"></div>  
    </div>
    <div id="progressbar"></div>
  </div>
              <div class="track">
        <h4 class="username">mihran</h4>
        <img class="avatar" src="http://placekitten.com/60/60" alt="">
        <button> ▶ </button>     
        <div class="progress">
          <span class="percent"></span>
          <div class="bar" style= "width: 30%;"></div>
        </div>
       </div>
       <div class="track">
        <h4 class="username">teabait</h4>
        <img class="avatar" src="http://placekitten.com/60/60" alt="">
        <button> ▶ </button>        
        <div class="progress">
          <span class="percent"></span>
          <div class="bar" style= "width: 20%;"></div>
        </div>
       </div>
       <div class="track">
         <h4 class="username">brittanica</h4>
         <img class="avatar" src="http://placekitten.com/60/60" alt="">
        <button> ▶ </button>
        <div class="progress">
          <span class="percent"></span>
          <div class="bar" style= "width: 35%;"></div>
        </div>
       </div>
     </div>
     </div>
