<div class="song-home">
  <div class="recorder welcome">
    <div class="center">  
      <header>
        <h3 class="song-name">get out of your garage.</h3>
        <h3 class="song-name">come play in the cove.</h3>
      </header>

      <div id="controls">
        <a href="<%= new_user_path %>"><img src="https://s3-us-west-2.amazonaws.com/beatcove/assets/images/beatcove.png" id="record-button" class="recordish"></a>
      </div>       
    </div>
  </div>
  <div id="beatcove-secrets">
    <div id="intro">
      <header>
        <h3>how it works</h3>
      </header>
        <div class="triplets"> 
          <ul>
              <li class="standard">record.</li>
              <li class="standard">listen.</li>
              <li class="standard">collaborate.</li>
          </ul>
        </div>
        <div class="triplets"> 
          <img src="https://s3-us-west-2.amazonaws.com/beatcove/assets/images/microphone.svg" alt="" class="svg">
          <img src="https://s3-us-west-2.amazonaws.com/beatcove/assets/images/headphones.svg" alt="" class="svg">
          <img src="https://s3-us-west-2.amazonaws.com/beatcove/assets/images/group.svg" alt="" class="svg">
        </div>
      <div class="paragraph-container">
        
      </div>
    <div id="about">
      <header>
        <h3>about</h3>
      </header>
      <div class="triplets"> 
          <img src="https://s3-us-west-2.amazonaws.com/beatcove/assets/images/britt.jpg" alt="britt lewis" class="about-image">
          <img src="https://s3-us-west-2.amazonaws.com/beatcove/assets/images/mihran.jpg" alt="mihran abrahamian" class="about-image">
          <img src="https://s3-us-west-2.amazonaws.com/beatcove/assets/images/tea.jpg" alt="tea-ho" class="about-image">
        </div>
        <ul>
            <li class="standard team"><%= link_to "britt lewis", "http://github.com/brittlewis12" %></li>
            <li class="standard team"><%= link_to "mihran abrahamian", "http://github.com/abrahamian" %></li>
            <li class="standard team"><%= link_to "tea ho", "http://github.com/teabait" %></li>
        </ul>
      <div class="paragraph-container">
        <p class="standard right">
          beatcove was created by Britt, Mihran, and Tea as a showcase project during General Assembly's Web Development Immersive.    
        </p>
        <p class="standard right">
          We explore the possibilities of browser-based audio recording and playback functionalities using HTML5 through Web Audio API. If you want to contribute, visit our <a href="http://github.com/brittlewis12/batman"><span class="github">github</span></a>.
        </p>
      </div>
    </div>
  </div>
</div>
