<div class="user">
  <header>
    <h3 class="right">
      username
    </h3>
  </header>
</div>
<div class="song-home">
  <header>
    <h3 class="right">
      projects
    </h3>
  </header>
</div>
<div class="track">
  <h4>beasts of burden</h4>
  <img class="avatar" src="http://placekitten.com/60/60" alt="">
  <button> ▶ </button>
  <div class="progress">
    <span class="percent"></span>
    <div class="bar" style= "width: 30%;"></div>
  </div>
</div>
<div class="track">
  <h4>indie heartbreak</h4>
  <img class="avatar" src="http://placekitten.com/60/60" alt="">
  <button> ▶ </button>        
  <div class="progress">
    <span class="percent"></span>
    <div class="bar" style= "width: 20%;"></div>
  </div>
</div>
<div class="track">
  <h4>ol' farmer</h4>
  <img class="avatar" src="http://placekitten.com/60/60" alt="">
  <button> ▶ </button>
  <div class="progress">
    <span class="percent"></span>
    <div class="bar" style= "width: 35%;"></div>
  </div>
</div>
